#digitaltown-sso-container {
    margin: 50px auto;
    text-align: center;
}

#digitaltown-sso-container a {
    margin-top: 30px;
    background: #67afc8;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
}

#digitaltown-sso-container a:hover {
    text-decoration: none;
}

.o_planner_systray {
    display: none !important;
}
