.background-gray {
    background: #f8f8f8;
}

.sl-margin-30-auto {
    margin: 30px auto;
}

.sl-max-width-600 {
    max-width: 600px;
}

form.sl-form {
    border: 2px solid #eee;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}

form.sl-form .form-group {
    margin-bottom: 30px;
}

form.sl-form button {
    background-color: #4aada2;
    border: 1px solid #4aada2;
    color: #fff;
    padding: 15px 25px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

form.sl-form button:hover {
    background-color: rgba(74, 173, 162, 0.8);
    border-color: rgba(74, 173, 162, 0.8);
	transition: all .2s ease-out;
}

form.sl-form .input-group-addon {
    background-color: #eeeded;
    color: #7e858a;
    border: 0;
    border-radius: 50px;
    font-size: 11px;
    padding: 10px 15px;
    text-transform: uppercase;
}

form.sl-form select,
form.sl-form input {
    outline: none;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #caccce;
    font-size: 13px;
}

form.sl-form select {
    color: #999;
}

form.sl-form select:focus,
form.sl-form input:focus {
    border-bottom: 1px solid #4aada2;
    box-shadow: none;
}

form.sl-form .domain {
    color: #4b5157;
    font-size: 13px;
    padding: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
}

form.sl-form label.error {
    font-weight: normal;
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.sl-margin-top-30 {
    margin-top: 30px;
}
